.category {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

    &:hover {
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        cursor: pointer;

        .content {
            opacity: .8;
        }
    }

    .content {
        text-align: center;
        color: #000;
        background: #fff;
        opacity: .7;
        // background: rgba(255, 255, 255, .7);
        padding: 15px
    }

    .title {
        margin-top: 0;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}