.collection {
    &-container {
        padding-bottom: 30px;

    }

    &-title {
        margin-bottom: 25px;
        font-size: 22px;
        margin-top: 0;
    }

    &-items {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}