.checkout-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .6);
    padding: 15px 0;
    font-size: 20px;
    color: #000;

    img {
        width: 110px;
    }

    .name {
        width: 25%;
    }

    .item-control {
        display: flex;
        align-items: center;

        .quantity {
            padding: 0 10px
        }
    }

}