.navbar-icon {
    position: relative;
    cursor: pointer;

    svg {
        width: 40px;
    }

    .navbar-cart-count {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 15px;
    }
}